<div class="flight-card" data-flight='{{flightData}}'>
    <div class="airline">
        <div class="avatar">{{airlineLogo}}</div>
        <div>
            <div class="name">{{airlineName}}</div>
            <div class="code">{{flightNumber}}</div>
        </div>
    </div>
    
    <div class="flight-info">
        <div>
            <div class="time">{{departureTime}}</div>
            <div class="city">{{fromCity}}</div>
        </div>
        <div class="duration">
            <i class="fas fa-plane"></i>
            <div>{{duration}}</div>
            <div style="font-size: var(--font-size-xs); color: var(--gray-500);">
                {{stopsText}}
            </div>
        </div>
        <div>
            <div class="time">{{arrivalTime}}</div>
            <div class="city">{{toCity}}</div>
        </div>
    </div>
    
    <div class="tags">
        {{#if isDirect}}
        <span class="tag tag-refundable">Direct</span>
        {{/if}}
        <span class="tag tag-luggage">20kg Baggage</span>
        <span class="tag tag-meal">Meal Included</span>
    </div>
    
    <div class="flight-footer">
        <div>
            <div class="price">{{price}} <small>per person</small></div>
            <div class="stops">{{seatsAvailable}} seats left</div>
        </div>
        <button class="btn-select" onclick="window.selectFlight('{{flightId}}')">
            Select Flight
        </button>
    </div>
</div>